* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F5F5;
    
}

form {
    display: flex;
    flex-direction: column;

    align-items: center;
    padding: 0px;
    position: relative;
    width: 420px;
    height: 426px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(40, 41, 61, 0.08), 0px 20px 32px rgba(96, 97, 112, 0.24);
    border-radius: 20px;
    caret-color: #FFAA0D;

}

h1 {
    margin: 40px 32px 0px;
    width: 356px;
    height: 32px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #000000;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.email input {
    margin: 24px 32px 8px;
    width: 356px;
    height: 42px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #7B8E98;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 7px 16px;
    width: 356px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #CFD8DC;
    border-radius: 12px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.pass input {
    margin: 0px 32px 24px;
    width: 356px;
    height: 42px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #7B8E98;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 16px;
    gap: 10px;
    width: 356px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #CFD8DC;
    border-radius: 12px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

input:focus {
    border-color: #FFE44D;
    color: #1A1A1A;
    outline: none;

}

p {
    margin: 0px 32px 24px;
    width: 356px;
    height: 42px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #7B8E98;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;

}

.registration {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 24px;
    width: 356px;
    height: 48px;
    background: #FFE44D;
    border-radius: 55px;
    border: 1px solid #FFE44D;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #1A1A1A;
}

.in {
    margin: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 24px;
    width: 356px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 55px;
    border-color: #FFFFFF;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #1A1A1A;
    border: 1px solid #CFD8DC;
}