* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 10px;
}

h2 {
    margin-top: 12px;
    text-align: center;
    margin-bottom: 10px;
}

h4 {
    margin-top: 8px;
    text-align: center;
    margin-bottom: 10px;
}
.block {
    text-align: center;
    /* font-size: 0; */
    margin-bottom: 15px;
   
}

.block p {
    border: 1px solid black;
    text-align: center;
    display: inline-block;
    vertical-align: inherit;
    font-size: 16px;
}

/* .block p:first-child {
    color: red;
    width: 100px;
    height: 100px;
}

.block p:nth-child(2){
    color: blue;
    width: 100px;
    height: 100px;
}

.block p:nth-child(3){
    color: blue;
    width: 100px;
    height: 100px;
}

.block p:nth-child(4){
    color: blue;
    width: 100px;
    height: 100px; */
}

.block p:last-child {
    color: green;
    width: 100px;
    height: 60px;
}

.flex div {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    justify-content: flex-end;
    margin-bottom: 15px;
}
.flex .space-between {
    justify-content: space-between;
}

.flex .space-around {
    justify-content: space-around;
}

.flex .space-evenly {
    justify-content: space-evenly;
}

.align-items {
    border: 1px solid black;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    flex-wrap: wrap;

}

.align-items p {
    width: 60px;
    height: 60px;
    margin: 10px;
}

/* .align-items p:last-child {
    width: unset;
    height: unset;
} */
